# Maxfiy
.env
*.key

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Data fayllar
trades.json
results.json
*.log
*.db

# Papkalar
logs/
storage/

# Node
dashboard/node_modules/
dashboard/dist/

# Mac
.DS_Store
